.content-container,.content-container-dark{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding-top: 63px;
}

.content-container-dark{
  color: white;
  background-color: rgb(42, 39, 39);
}